.nav-item {
    margin: 1rem;
    text-transform: uppercase;
    padding-bottom: 0.4rem;
    text-align: center;
    font-size: .75rem;
    font-family: 'Lato', sans-serif;
    color: #666;
    letter-spacing: 2px;
    transition: opacity 350ms ease-in-out;
}

.nav-item:after {
    display:block;
    content: '';
    padding-bottom: 0.5rem;
    border-bottom: solid 1px #666;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.nav-item-mob a, .nav-item a {
    color: #666;
}

.nav-item:hover:after {
    transform: scaleX(1);
}

.nav-item-mob {
    text-transform: uppercase;
    margin: 2.5rem;
    padding-bottom: 0.4rem;
    letter-spacing: 1px;
    text-align: right;
    font-size: 1.8rem;
    font-family: 'Lato', sans-serif;
}