.highlightContainer {
    background: #000;
    height: calc(320 / 16 * 1em);
    display: flex;
    justify-content: center;
}

.highlightContainer .contentContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.highlightItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.highlightNumber {
    font-size: calc(145 / 16 * 1em);
    color: #fff;
    font-weight: 900;
}

.highlightTitle {
    font-size: calc(14 / 16 * 1em);
    color: #B3B3B3;
}
