.Button {
    padding: calc(25 / 16 * 1rem);
    font-size: calc(12 / 16 * 1rem);
    border-radius: calc(5 / 16 * 1rem);
    display: inline-block;
    cursor: pointer;
}

.Button.light {
    color: #A0ABB8;
    border: 1px solid #A0ABB8;
}

.Button.light:hover {
    color: #FAFBFB;
    background: #A0ABB8;
}

.Button.dark {
    color: #FAFBFB;
    background: #A0ABB8;
}

.Button.dark:hover {
    color: #A0ABB8;
    border: 1px solid #A0ABB8;
    background: transparent;
}
