.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 20%;
    background-color: #000;
    color: #ffffff;
    margin-top: 2rem;
    padding: 2rem;
}

.footer-head {
    margin: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.email {
    text-decoration: underline;
    color: #ffffff;
}