.TopBar {
    margin-top: calc(44 / 16 * 1rem);
    font-size: calc(24 / 16 * 1rem);
    display: flex;
    align-items: center;
    font-weight: 300;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    justify-content: space-between;

}

.navigationContainer {
    display: flex;
}

.logoContainer {
    height: calc(80 / 16 * 1rem);
    width: calc(200 / 16 * 1rem);
    margin-right: 1rem;
}

.logoContainer svg {
    width: 100%;
    height: 100%;
}

.navigationContainer {
    display: flex;
    flex-wrap: wrap;
}

.navigationContainer div {
    position: relative;
}

.navigationContainer a {
    display: inline-block;
    margin-left: calc(10 / 16 * 1rem);
    margin-right: calc(10 / 16 * 1rem);
    color: #fff;
    text-decoration: none;
    font-size: calc(12 / 16 * 1rem);
}

.buttonContainer {
    margin-top: calc(60 / 16 * 1rem);
    display: flex;
    justify-content: center;
}

.navigationContainer a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    border-radius: 5px;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.navigationContainer a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.menuIcon, .backdrop {
    display: none;
}

@media screen and (max-width: 600px) {
    .menuIcon, .backdrop {
        display: block;
    }

    .menuIcon {
        width: 30px;
        margin-top: 2px;
        margin-right: 5px;
    }

    .navigationWrapper {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }

    .navigationContainer {
        position: absolute;
        background: #000000;
        left: 0;
        right: 0;
        top: -40px;
        width: 100%;
        flex-direction: column;
        z-index: 2;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        transform: translateY(-100%);
        transition: transform 350ms ease-in-out;
    }

    .navigationWrapper.open .navigationContainer {
        transform: translateY(0);
    }

    .navigationContainer a {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        margin-right: 0;
        margin-left: 0;
        font-weight: bold;
        width: 100%;
    }

    .navigationWrapper .backdrop {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.27);
        position: fixed;
        visibility: hidden;
        opacity: 0;
        transition: opacity 350ms ease-in-out;
    }

    .navigationWrapper.open .backdrop {
        visibility: visible;
        opacity: 1;
    }
}
