.cardContainer {
    background: #000000;
    min-height: 500px;
    display: flex;
    justify-content: center;
}
.cardContainer .popup {
    position: fixed;
    width: 61vw;
    padding-top: calc(61vw * (9 / 16));
    height: 0;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    border: rgba(0, 0, 0, 0.5) 10000px solid; 
    background: black padding-box;
}
.cardContainer .popup iframe {
    position: absolute;
    left: 0;
    top: 0;
}
.cardContainer .slogan {
    margin-top: 100px;
    margin-bottom: 65px;
}

.Cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Card {
    width: 49%;
    background: #fff;
    margin-bottom: 2%;
    border-radius: 4px;
}
.Card .text {
    padding: 20px 30px;
}
.Card .title {
    font-weight: bold;
}
.Card .subtitle {
    margin: 15px 0;
    font-weight: 100;
}
.Card img {
    width: 100%;
    cursor: pointer;
}