.cardContainer {
    background: #000000;
    min-height: calc(500 / 16 * 1rem);
    display: flex;
    justify-content: center;
}
.cardContainer .popup {
    position: fixed;
    width: 61vw;
    padding-top: calc(61vw * (9 / 16));
    height: 0;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    border: rgba(0, 0, 0, 0.5) calc(10000 / 16 * 1rem) solid;
    background: black padding-box;
}
.cardContainer .popup iframe {
    position: absolute;
    left: 0;
    top: 0;
}
.cardContainer .slogan {
    margin-top: calc(50 / 16 * 1rem);
    margin-bottom: calc(50 / 16 * 1rem);
}

.Cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.Card {
    width: 49%;
    min-width: 240px;
    background: #fff;
    margin-bottom: 2%;
    border-radius: calc(4 / 16 * 1rem);
    cursor: pointer;
}

.Card .text {
    padding: calc(20 / 16 * 1rem) calc(30 / 16 * 1rem);
}
.Card .title {
    font-weight: bold;
}
.Card .subtitle {
    margin: calc(15 / 16 * 1rem) 0;
    font-weight: 100;
}
.Card img {
    width: 100%;
    cursor: pointer;
}

.Cards .tags {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(6 / 16 * -1rem);
}

.Cards .tags > div {
    margin-left: calc(6 / 16 * 1rem);
    margin-bottom: calc(6 / 16 * 1rem);
}
