.logo {
    height: 80%;
    width: auto;
    display: block;
    margin-right: 4.5rem;
}

.logo-svg {
    height: 80%;
    width: auto;
}

@media (max-width: 820px) {
    .logo {
        margin: 1rem 3.5rem 0 1rem;
    }
}