@media screen and (max-width: 1366px) {
    html {
        --min-font-size: 12px;
        --max-font-size: 16px;
        --min-viewport-width: 320px;
        --max-viewport-width: 1366px;
        font-size: calc(
                var(--min-font-size) +
                (var(--max-font-size) - var(--min-font-size)) *
                ((100vw - var(--min-viewport-width)) /
                (var(--max-viewport-width) - var(--min-viewport-width)))
        ); /* ^ I don't know why this didn't work */
        font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1366 - 300)));
    }
}

.App {
    height: 100%;
    width: 100%;
}

.contentContainer {
    width: 65%;
}

.topBarContainer {
    position: absolute;
    height: calc(80 / 16 * 1rem);
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 3;
}

.topBarContainer .contentContainer, .mainInfoContainer .contentContainer {
    z-index: 2;
}

.mainInfoContainer {
    position: relative;
    background: black;
    padding-top: calc(160 / 16 * 1rem);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.bootcampContainer {
    width: 90%;
    height: calc(360 / 16 * 1rem);
    min-height: 200px;
    margin: 2rem auto 2rem auto;
}

@media screen and (max-width: 820px) {
    .bootcampContainer {
        width: 95%;
        height: calc(240 / 16 * 1rem);
    }
}

@media (orientation: landscape) and (max-width: 820px) {
    .bootcampContainer {
        width: 90%
    }
}

.slogan {
    font-size: calc(30 / 16 * 1rem);
    font-weight: 900;
    color: #fff;
}

.mainInfoContainer .tags {
    margin-top: calc(30 / 16 * 1rem);
    margin-bottom: calc(50 / 16 * 1rem);
    flex-wrap: wrap;
}

.mainInfoContainer .tags div {
    margin: calc(6 / 16 * 1rem);
}

.socialContainer {
    width: calc(60 / 16 * 1rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialContainer svg {
    height: 100%;
}

.socialContainer a {
    display: flex;
    height: calc(14 / 16 * 1rem);
}

.ossContainer, .journalContainer, .mapContainer {
    background: #FAFAFA;
    display: flex;
    justify-content: center;
    padding-bottom: calc(80 / 16 * 1rem);
}

.cardContainer {
    padding-bottom: calc(80 / 16 * 1rem);
}

.ossContainer .slogan, .journalContainer .slogan {
    color: #000000;
    margin-top: calc(50 / 16 * 1rem);
    margin-bottom: calc(50 / 16 * 1rem);
}

.mapContainer {
    background: #fff;
    min-height: calc(500 / 16 * 1rem);
    display: flex;
    justify-content: center;
}

.mapContainer .slogan {
    color: #000;
    margin-top: calc(60 / 16 * 1rem);
    margin-bottom: calc(60 / 16 * 1rem);
}

.footerContainer {
    height: calc(80 / 16 * 1rem);
    background: #000;
    display: flex;
    justify-content: center;
}

.footerContainer .contentContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FAFAFA;
    font-weight: 200;
}

.Video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    min-width: 100%;
}

.VideoOverlay {
    display: block;
    content: " ";
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100%;
}

.footerLogo {
    position: relative;
    height: 50px;
}

.footerLogo svg {
    max-width: 100%;
    max-height: 100%;
}

.cultureContainer {
    display: flex;
    justify-content: center;
    background: #000;
    padding-bottom: calc(65 / 16 * 1rem);
}

.cultureContainer .slogan {
    margin-top: calc(50 / 16 * 1rem);
    margin-bottom: calc(50 / 16 * 1rem);
}

.cultureVideoContainer {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.cultureVideoContainer iframe {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.slogan.jobs {
    margin-top: calc(40 / 16 * 1rem);
    margin-bottom: calc(40 / 16 * 1rem);
}

.slogan.city {
    font-size: calc(20 / 16 * 1rem);
    margin-top: calc(30 / 16 * 1rem);
    margin-bottom: calc(30 / 16 * 1rem);
}

@media screen and (max-width: 600px) {
    .contentContainer {
        width: 90%;
    }

    .mapBody {
        width: 110%;
        margin-left: -5%;
    }

    .highlightItem .highlightNumber {
        font-size: 60px;
    }

    .slogan {
        text-align: center;
    }
}

th.srJobListJobTitle {
    display: none;
}

.srJobList tr:hover * {
    background-color: #A0ABB8 !important;
    color: #ffffff !important;
}

.longDescription {
    font-size: calc(20 / 16 * 1rem);
    color: #ffffff;
    margin-top: calc(30 / 16 * 1rem);
}

.longDescription a {
    color: #ffffff;
    text-decoration: underline;
}

.hiringBanner {
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.hiringBanner span {
    padding-left: 5px;
    font-weight: bold;
    text-decoration: underline;
}

.textDescription {
    color: #ffffff;
    font-size: calc(20 / 16 * 1rem);
    margin-top: calc(50 / 16 * 1rem);
    margin-bottom: calc(50 / 16 * 1rem);
}
.textDescription a {
    color: #ffffff;
    text-decoration: underline;
}

.imageGallery {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imageGallery .image-gallery {
    width: 100%;
}

.officesContainer {
    display: flex;
    justify-content: center;
    background: #fff;
    padding-bottom: calc(65 / 16 * 1rem);
}

.officesContainer .slogan {
    color: #000000;
    margin-top: calc(50 / 16 * 1rem);
    margin-bottom: calc(50 / 16 * 1rem);
}

.aboutEvoContainer {
    display: flex;
    justify-content: center;
    background: #000000;
    padding-top: calc(50 / 16 * 1rem);
    padding-bottom: calc(50 / 16 * 1rem);
}
