
@media screen and (max-width: 1366px) {
    html {
        --min-font-size: 12px;
        --max-font-size: 16px;
        --min-viewport-width: 320px;
        --max-viewport-width: 1366px;
        font-size: calc(
            var(--min-font-size) +
            (var(--max-font-size) - var(--min-font-size)) *
            (
                (100vw - var(--min-viewport-width)) /
                (var(--max-viewport-width) - var(--min-viewport-width)))
        ); /* ^ I don't know why this didn't work */
        font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1366 - 300)));
    }
}

.App {
    height: 100%;
    width: 100%;
}

.contentContainer {
    width: 65%;
}

.topBarContainer {
    position: absolute;
    height: calc(80 / 16 * 1rem);
    width: 100%;
    display: flex;
    justify-content: center;
}

.topBarContainer .contentContainer, .mainInfoContainer .contentContainer {
    z-index: 2;
}

.mainInfoContainer {
    position: relative;
    background: black;
    padding-top: calc(184 / 16 * 1rem);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.slogan {
    font-size: calc(30 / 16 * 1rem);
    font-weight: 900;
    color: #fff;
}

.mainInfoContainer .tags {
    margin-top: calc(60 / 16 * 1rem);
    margin-bottom: calc(60 / 16 * 1rem);
    flex-wrap: wrap;
}
.mainInfoContainer .tags div {
    margin: calc(6 / 16 * 1rem);
}

.socialContainer {
    width: calc(60 / 16 * 1rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialContainer svg {
    height: 100%;
}

.socialContainer a {
    display: flex;
    height: calc(14 / 16 * 1rem);
}

.ossContainer, .journalContainer, .mapContainer {
    background: #FAFAFA;
    display: flex;
    justify-content: center;
    padding-bottom: calc(80 / 16 * 1rem);
}

.cardContainer {
    padding-bottom: calc(80 / 16 * 1rem);
}

.ossContainer .slogan, .journalContainer .slogan {
    color: #000000;
    margin-top: calc(100 / 16 * 1rem);
    margin-bottom: calc(65 / 16 * 1rem);
}

.mapContainer {
    background: #fff;
    min-height: calc(500 / 16 * 1rem);
    display: flex;
    justify-content: center;
}

.mapContainer .slogan {
    color: #000;
    margin-top: calc(60 / 16 * 1rem);
    margin-bottom: calc(60 / 16 * 1rem);
}

.buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.buttons .Button {
    flex: 1 0 18%;
    margin: calc(5 / 16 * 1rem);
    text-align: center;
}

.footerContainer {
    height: calc(80 / 16 * 1rem);
    background: #000;
    display: flex;
    justify-content: center;
}

.footerContainer .contentContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FAFAFA;
    font-weight: 200;
}

.Video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    min-width: 100%;
}

.VideoOverlay {
    display: block;
    content: " ";
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100%;
}
