.block-head {
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 1px;
    color: #303030;
    text-align: center;
    margin: 1rem .5rem 1rem .5rem;
}

.block {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 60%;
    margin: 5rem 0 5rem 0;
}

.block-mob {
    width: 100%;
    margin: 2rem 0 2rem 0;
}

.block-text {
    letter-spacing: 1px;
    font-size: 1.2rem;
    color: #666;
}

.block-text-mob {
    margin: 0 2rem 0 2rem;
}

.block-content {
    margin-top: 2rem;
    width: 100%;
}

.image-container {
    width: 40%;
    z-index: 100;
}

.block-image {
    width: 100%;
    height: 100%;
    max-width: 944px;
    max-height: 755px;
}

.about-image::after {
    content: "";
    background-color: #FFF33B;
    position: absolute;
    z-index: -1;
    left: 5%;
    top: -2%;
    height: 115%;
    width: 15%;
}

.yellow {
    background-color: #FFF33B;
}

.grey {
    background-color: #CECECE;
}

.textSide { 
    margin: 1rem 15% 0 0;
    textAlign: left;
    width: 40%; 
    }

.textCenter { 
    margin: auto;
    width: 60%;
    textAlign: justify;
    lineHeight: 1.7rem;
    textJustify: auto;
}

.colorText { 
    margin: 1rem 0 0 0;
    text-align: left;
    width: 60%;
}

.cardBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
    width: 70%;
}

@media (max-width: 1600px) {
    .block-head {
        font-size: 2.5rem;
    }

    .block-text {
        font-size: 1.1rem;
    }
}

@media (max-width: 1200px) {
    .block-head {
        font-size: 2rem;
    }

    .block-text {
        font-size: 1rem;
    }
}

@media (max-width: 820px) {
    .colorText {
        overflow-wrap: break-word;
        width: 99.9%;
        padding-top: 5px;
    }
}