.JournalItem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px #E1E5F4 solid;
    height: 100px;
    margin-bottom: 12px;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.articleTitle {
    color: #000000;
    font-weight: bold;
    font-size: 14px;
}

.articleDescription {
    font-size: 12px;
    color: #979797;
}
