.JournalItem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px #E1E5F4 solid;
    margin-bottom: calc(12 / 16 * 1rem);
    padding: calc(20 / 16 * 1rem);
    box-sizing: border-box;
}

.articleTitle {
    color: #000000;
    font-weight: bold;
    font-size: calc(1rem);
    text-align: center;
}

.articleDescription {
    font-size: calc(.8rem);
    color: #979797;
    padding-top: .3rem;
    padding-bottom: .3rem;
}

.articleAuthor {
    color: #979797;
    font-size: calc(.8rem);
    text-align: left;
}
