.JournalItem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px #E1E5F4 solid;
    height: calc(100 / 16 * 1rem);
    margin-bottom: calc(12 / 16 * 1rem);
    align-items: center;
    padding: calc(20 / 16 * 1rem);
    box-sizing: border-box;
}

.articleTitle {
    color: #000000;
    font-weight: bold;
    font-size: calc(14 / 16 * 1rem);
}

.articleDescription {
    font-size: calc(12 / 16 * 1rem);
    color: #979797;
}
